In [1]:
import pandas as pd
import numpy as np
import random
from IPython.core.debugger import Tracer

In [2]:
appl_list = ['fan', 'massager', 'hairdryer']
cols = appl_list[:]
cols.append('watt')
output_dim = len(appl_list)
shuffle_num = 50
case_num = pow(2,output_dim)
case_num_list = case_num*[5000]
watt_list = [0, 12, 30, 59, 38, 91, 66, 98]
noise_list = [0, 1, 2, 1, 1, 2, 3, 2]

dir_save = 'data/fan_mix_hair'
path_save = '%s/test_%d_shuffled.csv'%(dir_save, shuffle_num)

if len(watt_list)!= case_num:
    raise IOError("watt_list length error")
if len(case_num_list)!= case_num:
    raise IOError("case_num_list length error")

In [3]:
def shuffle_df(df, shuffle_num):
    df = df.reset_index(drop=True)
    total_num = len(df)
    shuffle_idx = df.index.values
    if total_num%shuffle_num != 0:
            pad_num = total_num%shuffle_num
            pad_np = np.zeros(shuffle_num-pad_num)-1
            shuffle_idx = np.append(shuffle_idx, pad_np)
    shuffle_idx = shuffle_idx.reshape((-1, shuffle_num))
    shuffle_idx = np.random.permutation(shuffle_idx)
    shuffle_idx = shuffle_idx.reshape((len(shuffle_idx)*shuffle_num,))
    
    df = df.iloc[shuffle_idx]
    df = df.reset_index(drop=True)
    return df

In [4]:
for i in range(case_num):
    tmp_np = np.zeros((case_num_list[i], output_dim+1))   
    tmp_df = pd.DataFrame(tmp_np, columns=cols) 
    bin_str = bin(i)[2:].zfill(output_dim)
    query_list = []
    for j in range(len(bin_str)): 
        tmp_df[appl_list[j]] = int(bin_str[j])
    tmp_df['watt'] = watt_list[i]
    noise_np = np.random.randint(noise_list[i]+1, size=(case_num_list[i]))
    noise_df = pd.DataFrame(noise_np, columns=['watt'])
    tmp_df['watt'] = tmp_df['watt']+noise_df['watt']
    
    if i==0:
        result_df = tmp_df
    else:
        result_df = pd.concat([result_df, tmp_df], axis=0)

In [5]:
result_df

      fan  massager  hairdryer  watt
0       0         0          0     0
1       0         0          0     0
2       0         0          0     0
3       0         0          0     0
4       0         0          0     0
5       0         0          0     0
6       0         0          0     0
7       0         0          0     0
8       0         0          0     0
9       0         0          0     0
10      0         0          0     0
11      0         0          0     0
12      0         0          0     0
13      0         0          0     0
14      0         0          0     0
15      0         0          0     0
16      0         0          0     0
17      0         0          0     0
18      0         0          0     0
19      0         0          0     0
20      0         0          0     0
21      0         0          0     0
22      0         0          0     0
23      0         0          0     0
24      0         0          0     0
25      0         0          0     0
26      0         0          0     0
27      0         0          0     0
28      0         0          0     0
29      0         0          0     0
...   ...       ...        ...   ...
4970    1         1          1    98
4971    1         1          1    99
4972    1         1          1   100
4973    1         1          1   100
4974    1         1          1   100
4975    1         1          1   100
4976    1         1          1   100
4977    1         1          1   100
4978    1         1          1   100
4979    1         1          1   100
4980    1         1          1   100
4981    1         1          1   100
4982    1         1          1   100
4983    1         1          1   100
4984    1         1          1    98
4985    1         1          1    98
4986    1         1          1    98
4987    1         1          1   100
4988    1         1          1   100
4989    1         1          1    99
4990    1         1          1   100
4991    1         1          1   100
4992    1         1          1    99
4993    1         1          1    99
4994    1         1          1    98
4995    1         1          1   100
4996    1         1          1   100
4997    1         1          1    98
4998    1         1          1    99
4999    1         1          1    99

[40000 rows x 4 columns]

In [6]:
result_df = shuffle_df(result_df, shuffle_num)

In [7]:
result_df

       fan  massager  hairdryer  watt
0        0         0          0     0
1        0         0          0     0
2        0         0          0     0
3        0         0          0     0
4        0         0          0     0
5        0         0          0     0
6        0         0          0     0
7        0         0          0     0
8        0         0          0     0
9        0         0          0     0
10       0         0          0     0
11       0         0          0     0
12       0         0          0     0
13       0         0          0     0
14       0         0          0     0
15       0         0          0     0
16       0         0          0     0
17       0         0          0     0
18       0         0          0     0
19       0         0          0     0
20       0         0          0     0
21       0         0          0     0
22       0         0          0     0
23       0         0          0     0
24       0         0          0     0
25       0         0          0     0
26       0         0          0     0
27       0         0          0     0
28       0         0          0     0
29       0         0          0     0
...    ...       ...        ...   ...
39970    1         0          1    91
39971    1         0          1    93
39972    1         0          1    92
39973    1         0          1    93
39974    1         0          1    92
39975    1         0          1    92
39976    1         0          1    91
39977    1         0          1    92
39978    1         0          1    92
39979    1         0          1    91
39980    1         0          1    92
39981    1         0          1    92
39982    1         0          1    92
39983    1         0          1    93
39984    1         0          1    91
39985    1         0          1    93
39986    1         0          1    92
39987    1         0          1    92
39988    1         0          1    92
39989    1         0          1    93
39990    1         0          1    93
39991    1         0          1    91
39992    1         0          1    93
39993    1         0          1    91
39994    1         0          1    91
39995    1         0          1    92
39996    1         0          1    91
39997    1         0          1    92
39998    1         0          1    92
39999    1         0          1    92

[40000 rows x 4 columns]

In [8]:
result_df.to_csv(path_save, sep=',', index=False)

In [9]:
# for i in range(pow(2,output_dim)):
#     bin_str = bin(i)[2:].zfill(output_dim)
#     query_list = []
#     for j in range(len(bin_str)): 
#         q = '%s==%d'%(appl_list[j], int(bin_str[j]))
#         query_list.append(q)
#     query = " and ".join(query_list)
#     print len(train_df.query(query))

In [10]:
pd.read_csv('data/test_50_shuffled.csv')

       fan  massager  hairdryer  watt
0        0         0          0     0
1        0         0          0     0
2        0         0          0     0
3        0         0          0     0
4        0         0          0     0
5        0         0          0     0
6        0         0          0     0
7        0         0          0     0
8        0         0          0     0
9        0         0          0     0
10       0         0          0     0
11       0         0          0     0
12       0         0          0     0
13       0         0          0     0
14       0         0          0     0
15       0         0          0     0
16       0         0          0     0
17       0         0          0     0
18       0         0          0     0
19       0         0          0     0
20       0         0          0     0
21       0         0          0     0
22       0         0          0     0
23       0         0          0     0
24       0         0          0     0
25       0         0          0     0
26       0         0          0     0
27       0         0          0     0
28       0         0          0     0
29       0         0          0     0
...    ...       ...        ...   ...
39970    1         0          1    91
39971    1         0          1    93
39972    1         0          1    92
39973    1         0          1    93
39974    1         0          1    92
39975    1         0          1    92
39976    1         0          1    91
39977    1         0          1    92
39978    1         0          1    92
39979    1         0          1    91
39980    1         0          1    92
39981    1         0          1    92
39982    1         0          1    92
39983    1         0          1    93
39984    1         0          1    91
39985    1         0          1    93
39986    1         0          1    92
39987    1         0          1    92
39988    1         0          1    92
39989    1         0          1    93
39990    1         0          1    93
39991    1         0          1    91
39992    1         0          1    93
39993    1         0          1    91
39994    1         0          1    91
39995    1         0          1    92
39996    1         0          1    91
39997    1         0          1    92
39998    1         0          1    92
39999    1         0          1    92

[40000 rows x 4 columns]